/**********************input**************************/
.input-container{
    position: relative;

    label{
        margin-bottom: 8px;
        margin-top: 26px;
    }

    .input-style{
        font-size: var(--normal_l);
        color: var(--placeholder_color);
        border-radius:$border_radius_medium;
        border: 1px solid var(--ui_border);
        height: $h_48px;
        padding-left: 12px;
        font-weight: 400;
        &:hover{
            border: 1px solid var(--input_hover);
        }
    }
    .input-icon-container{
        position: relative;
        .left-icon{
            position: absolute;
            left: 12px;
            top: 0px;
            bottom: 0px;
            margin: auto;
            height: var(--icon_m);
            img{
                width: var(--icon_m);
            }
        }
        .input-style{
            padding-left: 38px;
        }
    }

    &.error{
        .input-icon-container{
            .input-style{
                border: 1px solid var(--negative_color);
            } 
        }
        .alert{
            color: var(--negative_color);
        }
    }
    .success{
        .input-style{
            border: 1px solid var(--positive_color);
            &:hover{
                border: 1px solid var(--positive_color);
            }
            &:focus{
                border: 1px solid var(--positive_color);
                outline: none;
            }
        }
        .style-2{
            background-color: #F4FFFC;
        }
        .style-3{
            border: none;
            background-color: #F4FFFC;
        }
        .alert{
            color: var(--positive_color);
        }
    }

    .input-divider{
        height: $h_24px;
    }
    .alert {
        font-size: var(--normal_s);
    }

}

/**********************input**************************/