/**********************input**************************/
.input-container{
    position: relative;

    label{
        margin-bottom: 5px;
        margin-top: 26px;
    }
    .input-style{
        font-size: var(--normal_l);
        border-radius:$border_radius_medium;
        color: #0E0E2C;
        border: 1px solid var(--ui_border);
        height: $h_48px;
        padding-left: 17px;
        font-weight: 400;
        &:hover{
            border: 1px solid var(--input_hover);
        }
        &:focus{
            border: 1px solid var(--input_hover);
            outline: none;
        }

        &::placeholder{
            color:var(--placeholder_color) ;
        }
    }
    
    .input-icon-container{
        // .left-icon{
        //     position: absolute;
        //     left: 12px;
        //     top: 0px;
        //     bottom: 0px;
        //     margin: auto;
        //     height: var(--icon_m);
        //     img{
        //         width: var(--icon_m);
        //     }
        // }
        position: relative;
        .right-icon{
            position: absolute;
            right: 12px;
            top:0px;
            bottom: 0px;
            margin: auto;
            height: var(--icon_m);
            img{
                width: var(--icon_m);
            }
        }
        .style-2{
            background-color: #F4F4F4;
        }
        .style-3{
            background-color: #F4F4F4;
        }
    }
    .style-3{
        border: none;
        &:hover{
            border: none;
        }
        &:focus{
            outline: none;
            border: none;
        }
    }
    .success{
        .input-style{
            border: 1px solid var(--positive_color);
            &:hover{
                border: 1px solid var(--positive_color_hover);
            }
            &:focus{
                border: 1px solid var(--positive_color_hover);
                outline: none;
            }
        }
       
        
        .style-2{
            background-color: #F4FFFC;
        }
        .style-3{
            background-color: #F4FFFC;
            border: none;
            &:hover{
                border: none;
            }
            &:focus{
                outline: none;
                border: none;
            }
        }
    }
    .error{
        .input-style{
            border: 1px solid var(--negative_color);
            &:hover{
                border: 1px solid var(--negative_color_hover);
            }
            &:focus{
                border: 1px solid var(--negative_color_hover);
                outline: none;
            }
        }
        .style-2{
            background-color: #FFF7F4;
        }
        .style-3{
            border: none;
            outline: none;
            background-color: #FFF7F4;
            &:hover{
                border: none;
            }
            &:focus{
                outline: none;
                border: none;
            }
        }
    }
   
    .alert{
        color: #ED4B4D;
        font-size: var(--normal_l);
        font-weight: 400;
        margin-top: 8px;
    }
    .disabled{
        .input-style{
            background-color: #FFFFFF;
        }
        .style-3{
            background-color: #F5F5F5;
        }
    }

    .sizes{
        &.x-small{
            height:$h_24px;
            border-radius: $border_radius_small;
        }
        &.small{
            height: $h_28px;
            border-radius: $border_radius_small;
        }
        &.medium{
            height: $h_32px;
            border-radius: $border_radius_small;
        }
        &.large{
            height:$h_38px;
            border-radius: $border_radius_medium;
        }
        &.x-large{
            height: $h_42px;
            border-radius: $border_radius_medium;
        }
        &.xx-large{
            height: $h_42px;
            border-radius: $border_radius_medium;
        }
    }
    .input-divider{
        height: $h_24px;
    }
    .alert {
        font-size: var(--normal_s);
    }

}

/**********************input**************************/