@font-face {
  font-family: 'robotoblack';
  src: url('../../fonts/roboto-black-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotobold';
  src: url('../../fonts/roboto-bold-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: url('../../fonts/roboto-light-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotomedium';
  src: url('../../fonts/roboto-medium-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: url('../../fonts/roboto-regular-webfont.woff2') format('woff2'),
       url('../../fonts/roboto-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$font_light: 'robotolight';
$font_regular: 'robotoregular';
$font_medium: 'robotomedium';
$font_bold: 'robotobold';
$font_black: 'robotoblack';

.primary-heading, h1{
  line-height: 42px !important;
  font-size: $font-bold;

  // @include breakpoint(lg){
  //   font-size: 22px !important;
  //   line-height: 30px !important;
  // }
}

.label, label,legend{
  font-family: $font_medium;
  font-size: var(--label);
  color: var(--primary_text_color);
  font-weight: 400;
  // @include breakpoint(lg){
  //   font-size: 13px !important;
  //   line-height: 18px !important;
  // }
}



